/* NavBar Styling */

* {
    background: #F6F8ED;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    gap: 681px;

    position: absolute;
    width: 1440px;
    height: 124px;
    left: 0px;
    top: 0px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 4px;
    gap: 16px;
    background: rgba(246, 248, 237, 0.25);
    border-radius: 16px;

    width: 216px;
    height: 92px;
}

.logo-text {
    width: 116px;
    height: 58px;

    font-family: 'Nobel';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;

    color: #000000;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    width: 444px;
    height: 39px;

    background: #1F4993;
    border-radius: 999px;
}

.nav-button {
    /* Nav Button Layout*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 111px;
    height: 19px;

    /* Button Text Layout*/
    font-family: 'Nobel';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}

.nav-button-green {
    background: #98CE83;
    color: #01203F;
}

.nav-button-blue {
    background: #1F4993;
    color: #F6F8ED;
}

.button-rounded {
    border-radius: 999px;
}

.button-rounded-left {
    border-radius: 999px 0px 0px 999px;
}

.button-rounded-right {
    border-radius: 0px 999px 999px 0px;
}

.shadow {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}


/* Mobile formatting */

@media screen and (max-width: 768px) {

    
}